.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
}

#pixel-board {
    width: 210px;
    height: 210px;
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
}

/* .pixelColored {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid red;
    background-color: white; 
}*/

div .pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: white;
}